<?xml version="1.0" ?>
<robot name="QuadrupedFull" xmlns="http://drake.mit.edu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://drake.mit.edu ../../doc/drakeURDF.xsd">
	
	<parameter lb="0.5" name="LOWERLEGLENGTH" ub="4.0" value="1.0"/>
	<parameter lb="0.5" name="UPPERLEGLENGTH" ub="4.0" value="2.0"/>
	
	<parameter lb="0.1" name="LOWERLEGWIDTHX" ub="0.6" value="0.3"/>
	<parameter lb="0.1" name="UPPERLEGWIDTHX" ub="0.6" value="0.3"/>
	
	<parameter lb="0.1" name="LOWERLEGWIDTHY" ub="0.6" value="0.3"/>
	<parameter lb="0.1" name="UPPERLEGWIDTHY" ub="0.6" value="0.3"/>
	
	
	<parameter lb="0.5" name="BASEEXTENTSX" ub="4.0" value="1.0"/>
	<parameter lb="0.5" name="BASEEXTENTSY" ub="8.0" value="6.0"/>
	<parameter lb="0.5" name="BASEEXTENTSZ" ub="4.0" value="1.0"/>
	
	<parameter lb="0.5" name="BASEMASS" ub="10.0" value="2.0"/>
	<parameter lb="0.5" name="UPPERLEGMASS" ub="10.0" value="2.0"/>
	<parameter lb="0.5" name="LOWERLEGMASS" ub="10.0" value="2.0"/>
	
	
	
	
	
	
	<link name="base_link">
		<inertial>
			<origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
			<mass value="$BASEMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<box size="$BASEEXTENTSX $BASEEXTENTSY $BASEEXTENTSZ"/>
			</geometry>
			<material name="green">
				<color rgba="0 1 0 1"/>
			</material>
		</visual>
	</link>
	<link name="leg_link0">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<mass value="$UPPERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<geometry>
				<box size="$UPPERLEGWIDTHX $UPPERLEGWIDTHY $UPPERLEGLENGTH"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="leg_joint0" type="continuous">
		<parent link="base_link"/>
		<child link="leg_link0"/>
		<origin xyz="-$BASEEXTENTSX/2.0 - $UPPERLEGWIDTHX/2.0 -$BASEEXTENTSY/4.0 0.0"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint0_trans" type="SimpleTransmission">
		<actuator name="leg_joint0_torque"/>
		<joint name="leg_joint0"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>
<link name="leg_link1">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<mass value="$UPPERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<geometry>
				<box size="$UPPERLEGWIDTHX $UPPERLEGWIDTHY $UPPERLEGLENGTH"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="leg_joint1" type="continuous">
		<parent link="base_link"/>
		<child link="leg_link1"/>
		<origin xyz="$BASEEXTENTSX/2.0 + $UPPERLEGWIDTHX/2.0 -$BASEEXTENTSY/4.0 0.0"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint1_trans" type="SimpleTransmission">
		<actuator name="leg_joint1_torque"/>
		<joint name="leg_joint1"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>

<link name="leg_link2">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<mass value="$LOWERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<geometry>
				<box size="$LOWERLEGWIDTHX $LOWERLEGWIDTHY $LOWERLEGLENGTH"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
        <collision>
			<origin xyz="0 0 -$LOWERLEGLENGTH"/>
			<geometry>
				<sphere radius="0"/>
			</geometry>
		</collision>
	</link>
	<joint name="leg_joint2" type="continuous">
		<parent link="leg_link0"/>
		<child link="leg_link2"/>
		<origin xyz="0.0 0.0 -$UPPERLEGLENGTH"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint2_trans" type="SimpleTransmission">
		<actuator name="leg_joint2_torque"/>
		<joint name="leg_joint2"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>



<link name="leg_link3">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<mass value="$LOWERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<geometry>
				<box size="$LOWERLEGWIDTHX $LOWERLEGWIDTHY $LOWERLEGLENGTH"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
        <collision>
			<origin xyz="0 0 -$LOWERLEGLENGTH"/>
			<geometry>
				<sphere radius="0"/>
			</geometry>
		</collision>
	</link>
	<joint name="leg_joint3" type="continuous">
		<parent link="leg_link1"/>
		<child link="leg_link3"/>
		<origin xyz="0.0 0.0 -$UPPERLEGLENGTH"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint3_trans" type="SimpleTransmission">
		<actuator name="leg_joint3_torque"/>
		<joint name="leg_joint3"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>



<!--And now the second set of legs -->

<link name="leg_link4">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<mass value="$UPPERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<geometry>
				<box size="$UPPERLEGWIDTHX $UPPERLEGWIDTHY $UPPERLEGLENGTH"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="leg_joint4" type="continuous">
		<parent link="base_link"/>
		<child link="leg_link4"/>
		<origin xyz="-$BASEEXTENTSX/2.0 - $UPPERLEGWIDTHX/2.0 $BASEEXTENTSY/4.0 0.0"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint4_trans" type="SimpleTransmission">
		<actuator name="leg_joint4_torque"/>
		<joint name="leg_joint4"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>


<link name="leg_link5">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<mass value="$UPPERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$UPPERLEGLENGTH/2.0"/>
			<geometry>
				<box size="$UPPERLEGWIDTHX $UPPERLEGWIDTHY $UPPERLEGLENGTH"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="leg_joint5" type="continuous">
		<parent link="base_link"/>
		<child link="leg_link5"/>
		<origin xyz="$BASEEXTENTSX/2.0 + $UPPERLEGWIDTHX/2.0 $BASEEXTENTSY/4.0 0.0"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint5_trans" type="SimpleTransmission">
		<actuator name="leg_joint5_torque"/>
		<joint name="leg_joint5"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>



<link name="leg_link6">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<mass value="$LOWERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<geometry>
				<box size="$LOWERLEGWIDTHX $LOWERLEGWIDTHY $LOWERLEGLENGTH"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
        <collision>
			<origin xyz="0 0 -$LOWERLEGLENGTH"/>
			<geometry>
				<sphere radius="0"/>
			</geometry>
		</collision>
	</link>
	<joint name="leg_joint6" type="continuous">
		<parent link="leg_link4"/>
		<child link="leg_link6"/>
		<origin xyz="0.0 0.0 -$UPPERLEGLENGTH"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint6_trans" type="SimpleTransmission">
		<actuator name="leg_joint6_torque"/>
		<joint name="leg_joint6"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>



<link name="leg_link7">
		<inertial>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<mass value="$LOWERLEGMASS"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 -$LOWERLEGLENGTH/2"/>
			<geometry>
				<box size="$LOWERLEGWIDTHX $LOWERLEGWIDTHY $LOWERLEGLENGTH"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
        <collision>
			<origin xyz="0 0 -$LOWERLEGLENGTH"/>
			<geometry>
				<sphere radius="0"/>
			</geometry>
		</collision>
	</link>
	<joint name="leg_joint7" type="continuous">
		<parent link="leg_link5"/>
		<child link="leg_link7"/>
		<origin xyz="0.0 0.0 -$UPPERLEGLENGTH"/>
		<axis xyz="1 0 0"/>
		<dynamics damping="0.1"/>
	</joint>
	<transmission name="leg_joint7_trans" type="SimpleTransmission">
		<actuator name="leg_joint7_torque"/>
		<joint name="leg_joint7"/>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>-->


	
</robot>

